JWT_SECRET="example"
PORT="8081"
VERSION="v1.0.0"

# Database configuration
POSTGRESQL_URL="postgres://postgres:password@localhost:5432/example?sslmode=disable"
MIGRATIONS_URL="file://db/migrations"

# OpenTelemetry configuration
OTEL_COLLECTOR_URL="http://localhost:4317"

# Kafka configuration
WALLET_TOPIC="wallet"
KAFKA_BROKERS="localhost:29092"