apiVersion: apps/v1
kind: Deployment
metadata:
  name: member-service
  namespace: tellawl
  labels:
    app: member-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: member-service
  template:
    metadata:
      labels:
        app: member-service
    spec:
      containers:
        - name: member-service
          image: lopesgabriel/member-service:1.0.1
          env:
            - name: VERSION
              value: "1.0.1"
            - name: LOG_LEVEL
              value: "INFO"
            - name: OTEL_COLLECTOR_URL
              value: "otel-lgtm.observability.svc.cluster.local:4317"
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: member-service-secret
                  key: jwt-secret
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "1Gi"
              cpu: "1000m"
          readinessProbe:
            httpGet:
              path: /internal/health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 15
            failureThreshold: 5
          livenessProbe:
            httpGet:
              path: /internal/health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 15
            failureThreshold: 3

---

apiVersion: v1
kind: Service
metadata:
  name: member-service
  namespace: tellawl
  labels:
    app: member-service
spec:
  type: ClusterIP
  selector:
    app: member-service
  ports:
    - name: http
      port: 8080
      targetPort: 8080
